body{
    color: rgb(63, 58, 58);
    background: rgb(0, 44, 85);
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border:2px dashed rgb(66, 0, 66);
    width: 400px;
    height: 300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
color: rgb(187, 0, 31);
}